<!DOCTYPE html>
<html>
  <h1> Available Rentals </h1>
  <head>



  </head>


  <body>
    <ul id='space'>
      <%= @space.each do |link| %>
        <li>
        <b> Title:</b> <%= space.name %><br>
        <b> Description:</b>  <%= space.description   %><br>
        <b> Price:</b> <%= space.price %>
        </li>
        <form method="get" action="/spaces/:name">
            <button type="submit">Book</button>
        </form>
      <% end %>
    </ul>
  </body>

</html>


  <!-- <h1> Links </h1>
  <ul id='links'>
    <% @links.each do |link| %>
      <li>
        Title: <%= link.title %>
        URL:   <%= link.url   %>
      </li>
    <% end %>
  </ul>
  <input type="button" name="name" value=""> -->
